* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 1319px;
    height: 800px;
    background: #FFFFFF;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.menu_bar {
    display: flex;
    align-items: flex-start;
    flex: content;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.menu_bar_logo {
    display: flex;
    flex: content;
    gap: 1%;
    flex-direction: row;
    align-items: center;
    width: 20%;
    align-content: center;
    justify-content: flex-start;
    padding-left: 10%;
}

.menu_bar_logo_image {
    height: auto;
    width: 30%;
}

span {
    color: #F25822;
}

.menu_bar_links {
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-content: center;
    justify-content: flex-end;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('path-to-your-font/Gilroy-Medium.woff2') format('woff2'), url('path-to-your-font/Gilroy-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menu_bar_link_1 {
    color: #F25822;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_link_2 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_link_3 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_link_4 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_link_5 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_link_6 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_link_7 {
    color: #000;
    font-family: Gilroy-Medium, sans-serif;
    ;
}

.menu_bar_links_get_started {
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    border-width: 0;
    width: 120px;
    height: 40px;
}

.home {
    display: flex;
    flex: content;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    margin: 1%;
    padding: 1%;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 1%;
    margin: 1%;
    padding: 1%;
    width: 100%;
}

.home_meta {
    width: 522px;
    height: 374px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.home_meta_header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1%;
    padding: 1%;
}

.home_meta_text_text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1%;
    padding: 1%;
}

.home_meta_media {
    display: flex;
    flex: content;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.home_meta_media_get_started {
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    border-width: 0;
    width: 120px;
    height: 40px;
}

.home_meta_media_watch_video {
    color: #AAA;
    font-family: Gilroy-Bold;
    white-space: nowrap;
    display: flex;
    flex: content;
    flex-direction: row;
    gap: 15px;
    align-items: сenter;
}

.home_image {
    width: auto;
    height: auto;
}

.brand {
    background: #FFFFFF;
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: baseline;
}

.brand_logo {
    width: auto;
    height: auto;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.small_header {
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
}

.large_header {
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
}

.small_text {
    font-size: 80%;
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
    color: #666;
}

.large_text {
    font-size: 80%;
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
    color: #666;
    word-wrap: break-word;
    text-align: center;
    width: 550px;
    /* Ограничение ширины блока */
    height: 48px;
    /* Ограничение высоты блока */
    margin: auto;
    /* Выравнивание блока по центру родительского элемента */
}

.small_image {
    width: 20%;
}

.large_image {
    height: 30%;
}

.upper {
    background: #FFF;
    padding-top: 2%;
    padding-bottom: 1%;
}

.upper_table {
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 30% 30%;
}

.upper_table_element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    padding: 4%;
    background: #FFF;
}

.upper_table_element_centr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    padding: 4%;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.rectangle_10 {
    /* width: 1920px; */
    height: 919px;
    flex-shrink: 0;
    background: #FAFAFA;
}

.middle {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.lower {
    background: #FAFAFA;
    padding-top: 1%;
    padding-bottom: 2%;
}

.lower_table {
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 30% 30%;
}

.lower_table_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
    background: #FFFFFF;
    padding: 4%;
}

.lower_table_element_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
    background: #FFFFFF;
    padding: 4%;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.small_link {
    text-decoration: none;
    font-size: 80%;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #000000;
}

.large_link {
    font-size: 80%;
    font-style: normal;
    font-weight: lighter;
    line-height: 200%;
    border-style: hidden;
    border-radius: 30px;
    color: #FFFFFF;
    background: #F25822;
}